<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('sidebar.geovisites') %></h3>
        <div class="widget">
          <!--************CODE GEOCOUNTER************-->
          <script type="text/javascript" src="http://geoloc4.whoaremyfriends.net/private/geocounter.js?compte=384248582358"></script>
          <noscript>
          <a href="http://www.geovisites.com/es/directory/sociedad_religion-y-espiritualidad.php?compte=384248582358"  target="_blank"><img src="http://geoloc4.whoaremyfriends.net/private/geocounter.php?compte=384248582358" border="0" alt="religion y espiritualidad"></a>
          <br>Please do not change this code for a perfect fonctionality of your counter
          <a href="http://www.geovisites.com/es/directory/sociedad_religion-y-espiritualidad.php">religion y espiritualidad</a>
          </noscript>
          <!--************END CODE GEOCOUNTER************-->
        </div>
    </div>
<% } %>
